<!DOCTYPE html>
<html>
  <head>
  
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <!--link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"-->
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		    
  
    <title><%= title %></title>
		<script>
			function logout() {
				var xmlhttp = new XMLHttpRequest();
				xmlhttp.open('GET', '/users/logout', true);
				xmlhttp.send();
				window.location.href = '/';
			}
		</script>
  </head>
  <body>
  	    <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <a class="navbar-brand" href="#">GUNGNIR</a>
            <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link"><%= username %></a>
			<a href='javascript:logout()' class="navbar-link">注销</a>
			</p>
          </div>
        </nav>	
    	<div class="row show-grid">
          <div class="col-lg-2">
		    <ul class="nav nav-pills nav-stacked">
			
    		<% if (usertype) { %>			
			<li role="presentation" class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               我的餐厅 <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
               <li role="presentation"><a href='/manager/homepage/restaurant'>餐馆信息</a></li>
               <li role="presentation"><a href='/manager/homepage/foods/list'>饭菜中心</a></li>
              </ul>
			</li>
            <% } %>
			<% if (usertype === 2) {%>
        	<li role="presentation"><a href='/manager/homepage/sudo/users/list0'>用户管理</a></li>
            <li role="presentation"><a href='/manager/homepage/sudo/restaurants/list0'>餐厅管理</a></li>
            <li role="presentation"><a href='/manager/homepage/sudo/comments/list0'>评论管理</a></li>
            <li role="presentation"><a href='/manager/homepage/sudo/foods/list0'>食物管理</a></li>
            <li role="presentation"><a href='/manager/homepage/sudo/moments/list0'>圈子管理</a></li>			
            <% } %>
			</ul>
		  </div>
		  
		  
          <div class="col-lg-10">
		  	<div class="content">
              <div class="header">  
			    <h1 class="page-title"> <%= title %></h1>
              </div>

              <div class="container-fluid">
                <div class="row-fluid">        
                </div>
              </div>
		    </div>
          </div>
        </div>
  </body>
</html>
