<!DOCTYPE html>
<html>
  <head>
	  <title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css'/>
	</head>
  <body>
		<h1><%= result %></h1>
		<p><a href='<%= href %>'>返回</a></p>
	</body>
</html>

